{% extends 'base.html.twig' %}

{% block title %}Ressources{% endblock %}

{% block body %}
    <h1>Ressources</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ressource.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ ressource.intitule }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ ressource.presentation }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ ressource.support }}</td>
            </tr>
            <tr>
                <th>Nature</th>
                <td>{{ ressource.nature }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ ressource.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ressources_index') }}">back to list</a>

    <a href="{{ path('app_ressources_edit', {'id': ressource.id}) }}">edit</a>

    {{ include('ressources/_delete_form.html.twig') }}
{% endblock %}
